
@{
    ViewBag.Title = "ViewWarehouse";
}
@Scripts.Render("~/bundles/jquery")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#btnAddWarehouse").on("click", function () {

            var Warehouse = {

                Description: $("#description").val(),
                Direction1: $("#Direction1").val(),
                Direction2: $("#Direction2").val(),
                Responsable: $("#Responsable").val(),
                City: $("#City").val(),
                Prefix: $("#Prefix").val(),
                Status: $("#Status").val(),
                IsInMainBranch: $("#IsInMainBranch").val(),
                BranchId: $("#BranchId").val(),
                Email: $("#Email").val(),
                MonthMovements: $("#MonthMovements").val(),
                YearMovements: $("#YearMovements").val(),
                TableStocks: $("#TableStocks").val()
            }
            showSpinner();
            $.ajax({

                type: "POST",
                url: "addWarehouse",
                data: Warehouse,
                beforeSend: function () {
                    showSpinner();
                },
                error: function (error) {
                    hideSpinner();
                    swal("Error.", "Ocurrió un error en el proceso.", "error");
                },
                success: function (msg) {
                    refreshRpt();
                    hideSpinner();
                    swal("¡Éxito!", "El Almacen fue creado exitosamente.", "success");
                }
            });
        });

        $("#btnEditWarehouse").on("click", function () {

            var Warehouse = {

                Id: $("#Id").val(), 
                Description: $("#Description").val(),
                Direction1: $("#Direction1").val(),
                Direction2: $("#Direction2").val(),
                Responsable: $("#Responsable").val(),
                City: $("#City").val(),
                Prefix: $("#Prefix").val(),
                Status: $("#Status").val(),
                IsInMainBranch: $("#IsInMainBranch").val(),
                BranchId: $("#BranchId").val(),
                Email: $("#Email").val(),
                MonthMovements: $("#MonthMovements").val(),
                YearMovements: $("#YearMovements").val(),
                TableStocks: $("#TableStocks").val()
            }
            showSpinner();
            $.ajax({

                type: "POST",
                url: "updateWarehouse",
                data: Warehouse,
                beforeSend: function () {
                    showSpinner();
                },
                error: function (error) {
                    hideSpinner();
                    swal("Error.", "Ocurrió un error en el proceso.", "error");
                },
                success: function (msg) {
                    refreshRpt();
                    hideSpinner();
                    swal("¡Éxito!", "El Almacen fue actualizado exitosamente.", "success");
                }
            });
        });

        $("#btnDeleteWarehouse").on("click", function () {

            var Warehouse = {

                id: $("#deleteWarehouseId").val()

            }
            showSpinner();
            $.ajax({

                type: "POST",
                url: "deleteWarehouse",
                data: Warehouse,
                beforeSend: function () {
                    showSpinner();
                },
                error: function (error) {
                    hideSpinner();
                    swal("Error.", "Ocurrió un error en el proceso.", "error");
                },
                success: function (msg) {
                    refreshRpt();
                    hideSpinner();
                    swal("¡Éxito!", "El Almacen fue eliminado exitosamente.", "success");
                }
            });
        });

    });

</script>
<script type="text/javascript">
    function callEditWarehouseModal(Id, Description, Direction1, Direction2, Responsable, City, Prefix, Status,  IsInMainBranch,
        BranchId, Email, MonthMovements, YearMovements, TableStocks,) {

        $("#editWarehouseId").val(Id);
        $("#editDescription").val(Description);
        $("#editDirection1").val(Direction1);
        $("#editDirection2").val(Direction2);
        $("#editResponsable").val(Responsable);
        $("#editCity").val(City);
        $("#editPrefix").val(Prefix);
        $("#editStatus").val(Status);
        $("#editIsInMainBranch").val(IsInMainBranch);
        $("#editBranchId").val(BranchId);
        $("#editEmail").val(Email);
        $("#editMonthMovements").val(MonthMovements);
        $("#editYearMovements").val(YearMovements);
        $("#editTableStocks").val(TableStocks);

        $('#editTruckBrandModal').modal('toggle');

    }

    function callDeleteWarehouseModal(id) {

        $("#deleteWarehouseId").val(id);
        $('#deleteWarehouseModal').modal('toggle');

    }

    function refreshRpt() {

        $.ajax({

            type: "GET",
            url: "rptWarehouse",
            beforeSend: function () {
            },
            error: function (error) {
                swal("Error.", "Ocurrió un error en la actualización del reporte.", "error");
            },
            success: function (partialView) {
                $("#rptWarehouseTable").html(partialView);
                $("#rptWarehouseTable").show();
            }
        });

    } 
</script>
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Catálogo de Almacenes</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Catálogos</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Catálogo de Almacenes</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>

    <!-- Striped rows start -->
    <div class="spinner-grow loading text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <div class="row" >
        <div class="col-12">
            <div class="card">

                <div class="card-content">
                    <div class="card-body">

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addWareHouseModal">
                            Agregar Almacen
                        </button>
                        <!-- table striped -->
                        <div class="table-responsive" id="rptWarehouseTable">
                            @Html.Partial("_ViewWarehousePartial", (List<ProyectoBase.Models.WarehouseModel>)ViewBag.WarehouseCatalog);
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Striped rows end -->

    <div class="modal fade text-left" id="addWarehouseModal" tabindex="-1" aria-labelledby="myModalLabel33" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel33">Agregar Almacen </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <form action="#" id="formAddWarehouse">
                    <div class="modal-body">

                        <label>Almacén: </label>
                        <div class="form-group">
                            <input type="text" id="description" placeholder="Almacén" class="form-control">
                        </div>

                        <label>Dirección: </label>
                        <div class="form-group">
                            <input type="text" id="type" placeholder="Dirección" class="form-control">
                        </div>

                        <label>Dirección: </label>
                        <div class="form-group">
                            <input type="text" id="preffix" placeholder="Dirección" class="form-control">
                        </div>
                        <label>Responsable: </label>
                        <div class="form-group">
                            <input type="text" id="description" placeholder="Responsable" class="form-control">
                        </div>

                        <label>Localidad: </label>
                        <div class="form-group">
                            <input type="text" id="type" placeholder="Localidad" class="form-control">
                        </div>

                        <label>Prefijo: </label>
                        <div class="form-group">
                            <input type="text" id="preffix" placeholder="Prefijo" class="form-control">
                        </div>
                        <label>Matriz: </label>
                        <div class="form-group">
                            <input type="text" id="description" placeholder="Matriz" class="form-control">
                        </div>

                        <label>Plaza: </label>
                        <div class="form-group">
                            <input type="text" id="type" placeholder="Plaza" class="form-control">
                        </div>

                        <label>Correo: </label>
                        <div class="form-group">
                            <input type="text" id="preffix" placeholder="Correo" class="form-control">
                        </div>
                        <label>Mes Movimientos: </label>
                        <div class="form-group">
                            <input type="text" id="description" placeholder="Mes Movimientos" class="form-control">
                        </div>

                        <label>Año Movimientos: </label>
                        <div class="form-group">
                            <input type="text" id="type" placeholder="Año Movimientos" class="form-control">
                        </div>

                        <label>Tabla de Existencias: </label>
                        <div class="form-group">
                            <input type="text" id="preffix" placeholder="Tabla de Existencias" class="form-control">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Cerrar</span>
                        </button>
                        <button type="button" class="btn btn-primary ml-1" id="btnAddTruckBrand" data-dismiss="modal">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Guardar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*MODAL DE EDICION*@
    <div class="modal fade text-left" id="editTruckBrandModal" tabindex="-1" aria-labelledby="myModalLabel33" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel33">Editar marca </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <form action="#" id="formEditTruckBrand">
                    <div class="modal-body">
                        <label>Descripción: </label>
                        <div class="form-group">
                            <input type="text" id="editDescription" placeholder="Descripción" class="form-control">
                        </div>
                        <label>Tipo: </label>
                        <div class="form-group">
                            <input type="text" id="editType" placeholder="Tipo" class="form-control">
                        </div>
                        <label>Prefijo: </label>
                        <div class="form-group">
                            <input type="text" id="editPreffix" placeholder="Prefijo" class="form-control">
                        </div>
                        <input id="editTruckModelId" name="editTruckModelId" type="hidden">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Cerrar</span>
                        </button>
                        <button type="button" class="btn btn-primary ml-1" id="btnEditTruckBrand" data-dismiss="modal">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Guardar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*MODAL DE ELIMINAR*@
    <div class="modal fade text-left" id="deleteTruckBrandModal" tabindex="-1" aria-labelledby="myModalLabel33" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel33">Eliminar marca </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <form action="#" id="formDeleteTruckBrand">
                    <div class="modal-body">
                        <label>¿Seguro que desea eliminar la marca?</label>
                        <input id="deleteTruckModelId" name="deleteTruckModelId" type="hidden">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Cancelar</span>
                        </button>
                        <button type="button" class="btn btn-primary ml-1" id="btnDeleteTruckBrand" data-dismiss="modal">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Confirmar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
